header {
  position: relative;
  z-index: 0;
  height: 100%;
  margin: 70px 0 0 0;
  background-size: cover; }
  header .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/public/img/palms.jpg");
    background-size: cover; }
  header .logo {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 30%;
    margin: 0 0 0 -13%; }

.content {
  display: none; }

/**
* AdaptiveGrid
* AdaptiveGrid is a fluid CSS grid framework which adapts to the screen size.
* https://github.com/pea/AdaptiveGrid
*/
/* Column Defaults */
.col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* List of custom column sizes in percentages */
/* List of custom gutter sizes in pixels */
/* Delimiter for class names (- or _) */
.grid {
  /* The Grid */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Column Sizes */
  /* Gutter */
  /* Outer Gutter */ }
  .grid .col.perc10 {
    width: 10%; }
  .grid .col.perc16 {
    width: 16.6666666667%; }
  .grid .col.perc20 {
    width: 20%; }
  .grid .col.perc25 {
    width: 25%; }
  .grid .col.perc30 {
    width: 30%; }
  .grid .col.perc33 {
    width: 33.3333333333%; }
  .grid .col.perc40 {
    width: 40%; }
  .grid .col.perc45 {
    width: 45%; }
  .grid .col.perc50 {
    width: 50%; }
  .grid .col.perc55 {
    width: 55%; }
  .grid .col.perc60 {
    width: 60%; }
  .grid .col.perc66 {
    width: 66.6666666666%; }
  .grid .col.perc70 {
    width: 70%; }
  .grid .col.perc75 {
    width: 75%; }
  .grid .col.perc80 {
    width: 80%; }
  .grid .col.perc100 {
    width: 100%; }
  .grid.gut5 {
    margin: -2.5px; }
  .grid.gut10 {
    margin: -5px; }
  .grid.gut15 {
    margin: -7.5px; }
  .grid.gut20 {
    margin: -10px; }
  .grid.gut30 {
    margin: -15px; }
  .grid.gut40 {
    margin: -20px; }
  .grid.gut50 {
    margin: -25px; }
  .grid.gut5 .col {
    padding: 2.5px; }
  .grid.gut10 .col {
    padding: 5px; }
  .grid.gut15 .col {
    padding: 7.5px; }
  .grid.gut20 .col {
    padding: 10px; }
  .grid.gut30 .col {
    padding: 15px; }
  .grid.gut40 .col {
    padding: 20px; }
  .grid.gut50 .col {
    padding: 25px; }
  .grid.gut5.outergut {
    margin: 0;
    padding: 2.5px; }
  .grid.gut10.outergut {
    margin: 0;
    padding: 5px; }
  .grid.gut15.outergut {
    margin: 0;
    padding: 7.5px; }
  .grid.gut20.outergut {
    margin: 0;
    padding: 10px; }
  .grid.gut30.outergut {
    margin: 0;
    padding: 15px; }
  .grid.gut40.outergut {
    margin: 0;
    padding: 20px; }
  .grid.gut50.outergut {
    margin: 0;
    padding: 25px; }

/**
* Responses 
*/
/* Phones and smartphones in portrait */
@media all and (min-width: 0) and (max-width: 480px) {
  /* Smallest */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .smallest-hide {
    display: none; }
  /* Grid */
  .grid .col.smallest-to-10 {
    width: 10%; }
  .grid .col.smallest-to-16 {
    width: 16.6666666667%; }
  .grid .col.smallest-to-20 {
    width: 20%; }
  .grid .col.smallest-to-25 {
    width: 25%; }
  .grid .col.smallest-to-30 {
    width: 30%; }
  .grid .col.smallest-to-33 {
    width: 33.3333333333%; }
  .grid .col.smallest-to-40 {
    width: 40%; }
  .grid .col.smallest-to-45 {
    width: 45%; }
  .grid .col.smallest-to-50 {
    width: 50%; }
  .grid .col.smallest-to-55 {
    width: 55%; }
  .grid .col.smallest-to-60 {
    width: 60%; }
  .grid .col.smallest-to-66 {
    width: 66.6666666666%; }
  .grid .col.smallest-to-70 {
    width: 70%; }
  .grid .col.smallest-to-75 {
    width: 75%; }
  .grid .col.smallest-to-80 {
    width: 80%; }
  .grid .col.smallest-to-100 {
    width: 100%; } }

/* Small smartphones in landscape (iPhone in landscape) */
@media all and (min-width: 481px) and (max-width: 600px) {
  /* Smaller */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .smaller-hide {
    display: none; }
  /* Grid */
  .grid .col.smaller-to-10 {
    width: 10%; }
  .grid .col.smaller-to-16 {
    width: 16.6666666667%; }
  .grid .col.smaller-to-20 {
    width: 20%; }
  .grid .col.smaller-to-25 {
    width: 25%; }
  .grid .col.smaller-to-30 {
    width: 30%; }
  .grid .col.smaller-to-33 {
    width: 33.3333333333%; }
  .grid .col.smaller-to-40 {
    width: 40%; }
  .grid .col.smaller-to-45 {
    width: 45%; }
  .grid .col.smaller-to-50 {
    width: 50%; }
  .grid .col.smaller-to-55 {
    width: 55%; }
  .grid .col.smaller-to-60 {
    width: 60%; }
  .grid .col.smaller-to-66 {
    width: 66.6666666666%; }
  .grid .col.smaller-to-70 {
    width: 70%; }
  .grid .col.smaller-to-75 {
    width: 75%; }
  .grid .col.smaller-to-80 {
    width: 80%; }
  .grid .col.smaller-to-100 {
    width: 100%; } }

/* Small tablets and large phones in landscape (Nexus 7) */
@media all and (min-width: 601px) and (max-width: 767px) {
  /* Small */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .small-hide {
    display: none; }
  /* Grid */
  .grid .col.small-to-10 {
    width: 10%; }
  .grid .col.small-to-16 {
    width: 16.6666666667%; }
  .grid .col.small-to-20 {
    width: 20%; }
  .grid .col.small-to-25 {
    width: 25%; }
  .grid .col.small-to-30 {
    width: 30%; }
  .grid .col.small-to-33 {
    width: 33.3333333333%; }
  .grid .col.small-to-40 {
    width: 40%; }
  .grid .col.small-to-45 {
    width: 45%; }
  .grid .col.small-to-50 {
    width: 50%; }
  .grid .col.small-to-55 {
    width: 55%; }
  .grid .col.small-to-60 {
    width: 60%; }
  .grid .col.small-to-66 {
    width: 66.6666666666%; }
  .grid .col.small-to-70 {
    width: 70%; }
  .grid .col.small-to-75 {
    width: 75%; }
  .grid .col.small-to-80 {
    width: 80%; }
  .grid .col.small-to-100 {
    width: 100%; } }

/* Large tablets and Facebook iframe (iPad in portrait, Facebook on desktop) */
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* Medium */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .medium-hide {
    display: none; }
  /* Grid */
  .grid .col.medium-to-10 {
    width: 10%; }
  .grid .col.medium-to-16 {
    width: 16.6666666667%; }
  .grid .col.medium-to-20 {
    width: 20%; }
  .grid .col.medium-to-25 {
    width: 25%; }
  .grid .col.medium-to-30 {
    width: 30%; }
  .grid .col.medium-to-33 {
    width: 33.3333333333%; }
  .grid .col.medium-to-40 {
    width: 40%; }
  .grid .col.medium-to-45 {
    width: 45%; }
  .grid .col.medium-to-50 {
    width: 50%; }
  .grid .col.medium-to-55 {
    width: 55%; }
  .grid .col.medium-to-60 {
    width: 60%; }
  .grid .col.medium-to-66 {
    width: 66.6666666666%; }
  .grid .col.medium-to-70 {
    width: 70%; }
  .grid .col.medium-to-75 {
    width: 75%; }
  .grid .col.medium-to-80 {
    width: 80%; }
  .grid .col.medium-to-100 {
    width: 100%; } }

/* Large tablets (iPad in landscape) */
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /* Large */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .large-hide {
    display: none; }
  /* Grid */
  .grid .col.large-to-10 {
    width: 10%; }
  .grid .col.large-to-16 {
    width: 16.6666666667%; }
  .grid .col.large-to-20 {
    width: 20%; }
  .grid .col.large-to-25 {
    width: 25%; }
  .grid .col.large-to-30 {
    width: 30%; }
  .grid .col.large-to-33 {
    width: 33.3333333333%; }
  .grid .col.large-to-40 {
    width: 40%; }
  .grid .col.large-to-45 {
    width: 45%; }
  .grid .col.large-to-50 {
    width: 50%; }
  .grid .col.large-to-55 {
    width: 55%; }
  .grid .col.large-to-60 {
    width: 60%; }
  .grid .col.large-to-66 {
    width: 66.6666666666%; }
  .grid .col.large-to-70 {
    width: 70%; }
  .grid .col.large-to-75 {
    width: 75%; }
  .grid .col.large-to-80 {
    width: 80%; }
  .grid .col.large-to-100 {
    width: 100%; } }

/* Laptops and desktops */
@media all and (min-width: 1200px) {
  /* Larger */
  /**
    * Adaptive Framework
    */
  /* Hiding */
  .larger-hide {
    display: none; }
  /* Grid */
  .grid .col.larger-to-10 {
    width: 10%; }
  .grid .col.larger-to-16 {
    width: 16.6666666667%; }
  .grid .col.larger-to-20 {
    width: 20%; }
  .grid .col.larger-to-25 {
    width: 25%; }
  .grid .col.larger-to-30 {
    width: 30%; }
  .grid .col.larger-to-33 {
    width: 33.3333333333%; }
  .grid .col.larger-to-40 {
    width: 40%; }
  .grid .col.larger-to-45 {
    width: 45%; }
  .grid .col.larger-to-50 {
    width: 50%; }
  .grid .col.larger-to-55 {
    width: 55%; }
  .grid .col.larger-to-60 {
    width: 60%; }
  .grid .col.larger-to-66 {
    width: 66.6666666666%; }
  .grid .col.larger-to-70 {
    width: 70%; }
  .grid .col.larger-to-75 {
    width: 75%; }
  .grid .col.larger-to-80 {
    width: 80%; }
  .grid .col.larger-to-100 {
    width: 100%; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: 'Open Sans';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  letter-spacing: .03em; }

body {
  overflow: hidden;
  width: 100%;
  height: -webkit-calc(100% - 70px);
  height: calc(100% - 70px);
  margin: 0;
  padding: 0; }

#img-container,
#canvas-container {
  display: none; }

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 102px;
  padding: 40px 30px;
  text-align: right;
  background-color: #FFFFFF; }
  nav a {
    font-size: 13px;
    margin: 0 0 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #2A5D2A; }
  nav .twitter-icon {
    float: left;
    margin: -5px 0 0 0; }
    nav .twitter-icon svg {
      width: 30px;
      height: 30px; }
      nav .twitter-icon svg path {
        fill: #EEEEEE; }
        nav .twitter-icon svg path:hover {
          fill: #4099FF; }
    nav .twitter-icon img {
      width: 30px;
      height: 30px; }

header {
  position: relative;
  z-index: 0;
  height: 100%;
  margin: 70px 0 0 0;
  background-image: url("/public/img/palms.jpg");
  background-size: cover; }
  header .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/public/img/palms.jpg");
    background-size: cover; }
  header .logo {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 30%;
    margin: 0 0 0 -13%; }
    header .logo path {
      -webkit-filter: url(#filter);
      filter: url(#filter);
      fill: url(#background); }

.content {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  background-color: #352842; }
  .content img {
    max-width: 100%; }
  .content .close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer; }
    .content .close path {
      opacity: .5;
      fill: #FFFFFF;
      fill-rule: evenodd; }
  .content .inner {
    overflow: auto;
    height: 100%;
    /* padding: 40px 0 0 0; */
    color: #857794; }
    .content .inner .block-text {
      position: relative;
      /* For virtival alignment */
      padding: 40px; }
      .content .inner .block-text h2 {
        font-size: 30px;
        margin: 0 0 20px 0; }
      .content .inner .block-text p {
        font-size: 20px; }
      .content .inner .block-text .valign {
        padding: 0 40px 0 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .content .inner .block-image {
      max-width: 100%;
      padding: 40px; }
    .content .inner .block-background-image {
      min-height: 500px; }
    .content .inner .video-wrapper {
      position: relative;
      height: 0;
      margin: 0 auto 10px auto;
      padding-bottom: 56.25%;
      /* 16:9 */ }
    .content .inner .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .content .inner .contact {
      font-size: 30px;
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .content .inner .brand-logos {
      text-align: center; }
      .content .inner .brand-logos svg {
        width: auto;
        height: 50px;
        margin: 0 30px 30px 0; }
      .content .inner .brand-logos path {
        fill: #BEAAD2;
        fill-opacity: .3; }
    .content .inner a {
      color: #FFFFFF; }
    .content .inner p {
      margin: 0 0 2em 0; }
    .content .inner p:last-child {
      margin: 0; }
    .content .inner .page-about {
      max-width: 1000px;
      margin: 0 auto; }
  .content .slider-container {
    width: -webkit-calc(300% - 300px);
    width: calc(300% - 300px);
    overflow: hidden;
    height: 100%;
    white-space: nowrap; }
    .content .slider-container .item {
      height: 100vh;
      display: inline-block;
      overflow: hidden;
      position: relative; }
    .content .slider-container .item:nth-child(1) {
      background-color: #222;
      width: 100vw; }
    .content .slider-container .item:nth-child(2),
    .content .slider-container .item:nth-child(3) {
      background-color: #111;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300px 100%);
      margin: 0 0 0 -300px;
      width: -webkit-calc(100vw + 300px);
      width: calc(100vw + 300px); }
    .content .slider-container .item video,
    .content .slider-container .item img {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      display: none; }
      .content .slider-container .item video.videoLazyLoad,
      .content .slider-container .item img.videoLazyLoad {
        display: none; }
    .content .slider-container .item .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      white-space: normal;
      -webkit-clip-path: polygon(0 0, -webkit-calc(100% - 300px) 0, 100% 100%, 0 100%);
      background: -webkit-linear-gradient(left, rgba(53, 40, 66, 0.9) 0%, rgba(53, 40, 66, 0.7) 40%, rgba(53, 40, 66, 0.1) 100%); }
    .content .slider-container .caption {
      width: 500px;
      color: #FFFFFF;
      position: absolute;
      top: 50px;
      left: 320px; }
    .content .slider-container .item:nth-child(1) .caption {
      left: 50px; }
    .content .slider-container .caption h2 {
      font-size: 30px;
      margin: 0 0 20px 0;
      font-weight: 300;
      letter-spacing: 0.03em; }
    .content .slider-container .caption p {
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 0.03em;
      line-height: 1.5em; }

/* Phones and smartphones in portrait */
@media all and (min-width: 0) and (max-width: 480px) {
  /* Smallest */
  header .logo {
    top: 70px;
    width: 60%;
    margin: 0 0 0 -27%; }
  .content .inner .brand-logos svg {
    height: 30px;
    margin: 0 30px 30px 0;
    text-align: left; }
  .content .inner .block-text {
    padding: 0 20px; }
  .content .inner .block-background-image {
    min-height: 300px; }
  .content .inner .page-about {
    max-width: 1000px;
    margin: 0 auto; }
    .content .inner .page-about .display-picture {
      display: block;
      width: 50%;
      margin: 0 auto; } }

/* Small smartphones in landscape (iPhone in landscape) */
@media all and (min-width: 481px) and (max-width: 600px) {
  /* Smaller */
  header .logo {
    top: 70px;
    width: 60%;
    margin: 0 0 0 -27%; }
  .content .inner .brand-logos svg {
    height: 30px;
    margin: 0 30px 30px 0;
    text-align: left; }
  .content .inner .block-text {
    padding: 0 20px; }
  .content .inner .block-background-image {
    min-height: 300px; }
  .content .inner .page-about {
    max-width: 1000px;
    margin: 0 auto; }
    .content .inner .page-about .display-picture {
      display: block;
      width: 50%;
      margin: 0 auto; } }

/* Small tablets and large phones in landscape (Nexus 7) */
@media all and (min-width: 601px) and (max-width: 767px) {
  /* Small */
  header .logo {
    top: 70px;
    width: 40%;
    margin: 0 0 0 -17%; }
  .content .inner .brand-logos svg {
    height: 30px;
    margin: 0 30px 30px 0;
    text-align: left; }
  .content .inner .block-text {
    padding: 0 20px; }
  .content .inner .block-background-image {
    min-height: 300px; }
  .content .inner .page-about {
    max-width: 1000px;
    margin: 0 auto; }
    .content .inner .page-about .display-picture {
      display: block;
      width: 50%;
      margin: 0 auto; } }

/* Large tablets and Facebook iframe (iPad in portrait, Facebook on desktop) */
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* Medium */
  header .logo {
    width: 40%;
    margin: 0 0 0 -17%; } }

/* Large tablets (iPad in landscape) */
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /* Large */
  header .logo {
    width: 40%;
    margin: 0 0 0 -17%; } }

/* Laptops and desktops */
@media all and (min-width: 1200px) {
  /* Larger */ }

/*# sourceMappingURL=basic.css.map */
