/**
* AdaptiveGrid
* AdaptiveGrid is a fluid CSS grid framework which adapts to the screen size.
* https://github.com/pea/AdaptiveGrid
*/
/* Column Defaults */
.col {
  box-sizing: border-box; }

/* List of custom column sizes in percentages */
/* List of custom gutter sizes in pixels */
/* Delimiter for class names (- or _) */
.grid {
  /* The Grid */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  /* Column Sizes */
  /* Gutter */
  /* Outer Gutter */ }
  .grid .col.perc10 {
    width: 10%; }
  .grid .col.perc16 {
    width: 16.66667%; }
  .grid .col.perc20 {
    width: 20%; }
  .grid .col.perc25 {
    width: 25%; }
  .grid .col.perc30 {
    width: 30%; }
  .grid .col.perc33 {
    width: 33.33333%; }
  .grid .col.perc40 {
    width: 40%; }
  .grid .col.perc45 {
    width: 45%; }
  .grid .col.perc50 {
    width: 50%; }
  .grid .col.perc55 {
    width: 55%; }
  .grid .col.perc60 {
    width: 60%; }
  .grid .col.perc66 {
    width: 66.66667%; }
  .grid .col.perc70 {
    width: 70%; }
  .grid .col.perc80 {
    width: 80%; }
  .grid .col.perc100 {
    width: 100%; }
  .grid.gut5 {
    margin: -2.5px; }
  .grid.gut10 {
    margin: -5px; }
  .grid.gut15 {
    margin: -7.5px; }
  .grid.gut20 {
    margin: -10px; }
  .grid.gut30 {
    margin: -15px; }
  .grid.gut40 {
    margin: -20px; }
  .grid.gut50 {
    margin: -25px; }
  .grid.gut5 .col {
    padding: 2.5px; }
  .grid.gut10 .col {
    padding: 5px; }
  .grid.gut15 .col {
    padding: 7.5px; }
  .grid.gut20 .col {
    padding: 10px; }
  .grid.gut30 .col {
    padding: 15px; }
  .grid.gut40 .col {
    padding: 20px; }
  .grid.gut50 .col {
    padding: 25px; }
  .grid.gut5.outergut {
    margin: 0;
    padding: 2.5px; }
  .grid.gut10.outergut {
    margin: 0;
    padding: 5px; }
  .grid.gut15.outergut {
    margin: 0;
    padding: 7.5px; }
  .grid.gut20.outergut {
    margin: 0;
    padding: 10px; }
  .grid.gut30.outergut {
    margin: 0;
    padding: 15px; }
  .grid.gut40.outergut {
    margin: 0;
    padding: 20px; }
  .grid.gut50.outergut {
    margin: 0;
    padding: 25px; }

/**
* Responses 
*/
/* Phones and smartphones in portrait */
@media all and (min-width: 0) and (max-width: 480px) {
  /* Smallest */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .smallest-hide {
    display: none; }

  /* Grid */
  .grid .col.smallest-to-10 {
    width: 10%; }
  .grid .col.smallest-to-16 {
    width: 16.66667%; }
  .grid .col.smallest-to-20 {
    width: 20%; }
  .grid .col.smallest-to-25 {
    width: 25%; }
  .grid .col.smallest-to-30 {
    width: 30%; }
  .grid .col.smallest-to-33 {
    width: 33.33333%; }
  .grid .col.smallest-to-40 {
    width: 40%; }
  .grid .col.smallest-to-45 {
    width: 45%; }
  .grid .col.smallest-to-50 {
    width: 50%; }
  .grid .col.smallest-to-55 {
    width: 55%; }
  .grid .col.smallest-to-60 {
    width: 60%; }
  .grid .col.smallest-to-66 {
    width: 66.66667%; }
  .grid .col.smallest-to-70 {
    width: 70%; }
  .grid .col.smallest-to-80 {
    width: 80%; }
  .grid .col.smallest-to-100 {
    width: 100%; } }
/* Small smartphones in landscape (iPhone in landscape) */
@media all and (min-width: 481px) and (max-width: 600px) {
  /* Smaller */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .smaller-hide {
    display: none; }

  /* Grid */
  .grid .col.smaller-to-10 {
    width: 10%; }
  .grid .col.smaller-to-16 {
    width: 16.66667%; }
  .grid .col.smaller-to-20 {
    width: 20%; }
  .grid .col.smaller-to-25 {
    width: 25%; }
  .grid .col.smaller-to-30 {
    width: 30%; }
  .grid .col.smaller-to-33 {
    width: 33.33333%; }
  .grid .col.smaller-to-40 {
    width: 40%; }
  .grid .col.smaller-to-45 {
    width: 45%; }
  .grid .col.smaller-to-50 {
    width: 50%; }
  .grid .col.smaller-to-55 {
    width: 55%; }
  .grid .col.smaller-to-60 {
    width: 60%; }
  .grid .col.smaller-to-66 {
    width: 66.66667%; }
  .grid .col.smaller-to-70 {
    width: 70%; }
  .grid .col.smaller-to-80 {
    width: 80%; }
  .grid .col.smaller-to-100 {
    width: 100%; } }
/* Small tablets and large phones in landscape (Nexus 7) */
@media all and (min-width: 601px) and (max-width: 767px) {
  /* Small */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .small-hide {
    display: none; }

  /* Grid */
  .grid .col.small-to-10 {
    width: 10%; }
  .grid .col.small-to-16 {
    width: 16.66667%; }
  .grid .col.small-to-20 {
    width: 20%; }
  .grid .col.small-to-25 {
    width: 25%; }
  .grid .col.small-to-30 {
    width: 30%; }
  .grid .col.small-to-33 {
    width: 33.33333%; }
  .grid .col.small-to-40 {
    width: 40%; }
  .grid .col.small-to-45 {
    width: 45%; }
  .grid .col.small-to-50 {
    width: 50%; }
  .grid .col.small-to-55 {
    width: 55%; }
  .grid .col.small-to-60 {
    width: 60%; }
  .grid .col.small-to-66 {
    width: 66.66667%; }
  .grid .col.small-to-70 {
    width: 70%; }
  .grid .col.small-to-80 {
    width: 80%; }
  .grid .col.small-to-100 {
    width: 100%; } }
/* Large tablets and Facebook iframe (iPad in portrait, Facebook on desktop) */
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* Medium */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .medium-hide {
    display: none; }

  /* Grid */
  .grid .col.medium-to-10 {
    width: 10%; }
  .grid .col.medium-to-16 {
    width: 16.66667%; }
  .grid .col.medium-to-20 {
    width: 20%; }
  .grid .col.medium-to-25 {
    width: 25%; }
  .grid .col.medium-to-30 {
    width: 30%; }
  .grid .col.medium-to-33 {
    width: 33.33333%; }
  .grid .col.medium-to-40 {
    width: 40%; }
  .grid .col.medium-to-45 {
    width: 45%; }
  .grid .col.medium-to-50 {
    width: 50%; }
  .grid .col.medium-to-55 {
    width: 55%; }
  .grid .col.medium-to-60 {
    width: 60%; }
  .grid .col.medium-to-66 {
    width: 66.66667%; }
  .grid .col.medium-to-70 {
    width: 70%; }
  .grid .col.medium-to-80 {
    width: 80%; }
  .grid .col.medium-to-100 {
    width: 100%; } }
/* Large tablets (iPad in landscape) */
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /* Large */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .large-hide {
    display: none; }

  /* Grid */
  .grid .col.large-to-10 {
    width: 10%; }
  .grid .col.large-to-16 {
    width: 16.66667%; }
  .grid .col.large-to-20 {
    width: 20%; }
  .grid .col.large-to-25 {
    width: 25%; }
  .grid .col.large-to-30 {
    width: 30%; }
  .grid .col.large-to-33 {
    width: 33.33333%; }
  .grid .col.large-to-40 {
    width: 40%; }
  .grid .col.large-to-45 {
    width: 45%; }
  .grid .col.large-to-50 {
    width: 50%; }
  .grid .col.large-to-55 {
    width: 55%; }
  .grid .col.large-to-60 {
    width: 60%; }
  .grid .col.large-to-66 {
    width: 66.66667%; }
  .grid .col.large-to-70 {
    width: 70%; }
  .grid .col.large-to-80 {
    width: 80%; }
  .grid .col.large-to-100 {
    width: 100%; } }
/* Laptops and desktops */
@media all and (min-width: 1200px) {
  /* Larger */
  /**
  * Adaptive Framework
  */
  /* Hiding */
  .larger-hide {
    display: none; }

  /* Grid */
  .grid .col.larger-to-10 {
    width: 10%; }
  .grid .col.larger-to-16 {
    width: 16.66667%; }
  .grid .col.larger-to-20 {
    width: 20%; }
  .grid .col.larger-to-25 {
    width: 25%; }
  .grid .col.larger-to-30 {
    width: 30%; }
  .grid .col.larger-to-33 {
    width: 33.33333%; }
  .grid .col.larger-to-40 {
    width: 40%; }
  .grid .col.larger-to-45 {
    width: 45%; }
  .grid .col.larger-to-50 {
    width: 50%; }
  .grid .col.larger-to-55 {
    width: 55%; }
  .grid .col.larger-to-60 {
    width: 60%; }
  .grid .col.larger-to-66 {
    width: 66.66667%; }
  .grid .col.larger-to-70 {
    width: 70%; }
  .grid .col.larger-to-80 {
    width: 80%; }
  .grid .col.larger-to-100 {
    width: 100%; } }
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 70px);
  overflow: hidden; }

nav {
  width: 100%;
  background-color: #FFFFFF;
  padding: 40px 30px;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  height: 102px;
  z-index: 1; }
  nav a {
    text-decoration: none;
    margin: 0 0 0 30px;
    color: #639466; }
    nav a :hover {
      color: red; }
  nav .twitter-icon {
    float: left;
    margin: -5px 0 0 0; }
    nav .twitter-icon svg {
      width: 30px;
      height: 30px; }
      nav .twitter-icon svg path {
        fill: #EEEEEE; }
  nav :hover svg path {
    fill: #4099FF; }

header {
  -webkit-filter: hue-rotate(180deg);
  background-image: url("/public/img/palms.jpg");
  background-size: cover;
  height: 100%;
  margin: 70px 0 0 0;
  position: relative;
  z-index: 0; }
  header .inner {
    background-image: url("/public/img/palms.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
    -webkit-filter: hue-rotate(180deg);
    position: absolute;
    width: 100%;
    height: 100%; }
  header .logo {
    width: 24%;
    position: absolute;
    top: 200px;
    left: 50%;
    margin: 0 0 0 -10%; }
    header .logo path {
      fill: #FFFFFF;
      fill-rule: evenodd;
      -webkit-filter: url(#filter);
              filter: url(#filter); }
      header .logo path.zebra {
        fill: url(#pattern-zebra); }
      header .logo path.sea {
        fill: url(#pattern-sea); }
      header .logo path.sand {
        fill: url(#pattern-sand); }
      header .logo path.blackwhite {
        fill: url(#pattern-80s-blackwhite); }
      header .logo path.mosaic {
        fill: url(#pattern-80s-mosaic); }
      header .logo path.swan {
        fill: url(#pattern-80s-swan); }
      header .logo path.teal {
        fill: url(#pattern-80s-teal); }
      header .logo path.whirl {
        fill: url(#pattern-80s-whirl); }
  header img.logo {
    display: none; }

.content {
  clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
  -webkit-clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2B75AB;
  overflow: hidden;
  z-index: 2; }
  .content img {
    max-width: 100%; }
  .content .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1; }
    .content .close path {
      fill: #FFFFFF;
      fill-rule: evenodd;
      opacity: 0.5; }
  .content .inner {
    overflow: auto;
    height: 100%;
    color: #FFFFFF;
    padding: 40px 0 0 0; }
    .content .inner .block-text {
      padding: 40px;
      position: relative;
      /* For virtival alignment */ }
      .content .inner .block-text h2 {
        font-size: 30px;
        margin: 0 0 20px 0; }
      .content .inner .block-text p {
        font-size: 20px; }
      .content .inner .block-text .valign {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 40px 0 0; }
    .content .inner .block-image {
      min-height: 500px;
      background-size: cover;
      background-position: center; }
    .content .inner .video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      height: 0;
      margin: 0 auto 10px auto; }
    .content .inner .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .content .inner .contact {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 1000px;
      margin: 0 auto;
      font-size: 30px; }
    .content .inner .brand-logos {
      text-align: center; }
      .content .inner .brand-logos svg {
        height: 50px;
        width: auto;
        margin: 0 30px 30px 0; }
      .content .inner .brand-logos path {
        fill: #FFFFFF;
        fill-opacity: 0.2; }
    .content .inner p {
      margin: 0 0 2em 0; }
    .content .inner p:last-child {
      margin: 0; }
    .content .inner .video-wrapper, .content .inner .block-text, .content .inner .block-image {
      -webkit-transition: transform 2s, opacity 2s;
      -webkit-transform-origin: 50% 0%;
      opacity: 1; }
      .content .inner .video-wrapper.pre-lay, .content .inner .block-text.pre-lay, .content .inner .block-image.pre-lay {
        -webkit-transform: perspective(1000) rotateX(20deg) translate(0, 100px);
        opacity: 0; }

.firefox img.logo {
  display: block; }
.firefox svg.logo {
  display: none; }
.firefox .content {
  display: none; }

/*# sourceMappingURL=maps/main.css.map */