@import 'adaptivegrid';
@import 'mixins';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    letter-spacing: .03em;
}

body {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 70px);
    margin: 0;
    padding: 0;
}

#img-container,
#canvas-container {
    display: none;
}

nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    padding: 40px 30px;
    text-align: right;
    background-color: #FFFFFF;
    a {
        font-size: 13px;
        margin: 0 0 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: #2A5D2A;
    }
    .twitter-icon {
        float: left;
        margin: -5px 0 0 0;
        svg {
            width: 30px;
            height: 30px;
            path {
                fill: #EEEEEE;
                &:hover {
                    fill: #4099FF;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}

header {
    position: relative;
    z-index: 0;
    height: 100%;
    margin: 70px 0 0 0;
    background-image: url('/public/img/palms.jpg');
    background-size: cover;
    .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('/public/img/palms.jpg');
        background-size: cover;
    }
    .logo {
        position: absolute;
        top: 200px;
        left: 50%;
        width: 30%;
        margin: 0 0 0 -13%;
        path {
            filter: url(#filter);

            fill: url(#background);
        }
    }
}

.content {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    background-color: #352842;
    img {
        max-width: 100%;
    }
    .close {
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        path {
            opacity: .5;

            fill: #FFFFFF;
            fill-rule: evenodd;
        }
    }
    .inner {
        overflow: auto;
        height: 100%;
        /* padding: 40px 0 0 0; */
        color: #857794;
        .block-text {
            position: relative; /* For virtival alignment */
            padding: 40px;
            h2 {
                font-size: 30px;
                font-weight: 300;
                margin: 0 0 20px 0;
            }
            p {
                font-size: 20px;
            }
            .valign {
                padding: 0 40px 0 0;

                @include valign(absolute);
            }
        }
        .block-image {
            max-width: 100%;
            padding: 40px;
        }
        .block-background-image {
            min-height: 500px;
        }
        .video-wrapper {
            position: relative;
            height: 0;
            margin: 0 auto 10px auto;
            padding-bottom: 56.25%; /* 16:9 */
        }
        .video-wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .contact {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-image: url(/public/img/map.png);
            background-size: cover;
        }
        .brand-logos {
            text-align: center;
            svg {
                width: auto;
                height: 50px;
                margin: 0 30px 30px 0;
            }
            path {
                fill: #BEAAD2;
                fill-opacity: .3;
            }
        }
        a {
            color: #FFFFFF;
        }
        p {
            margin: 0 0 2em 0;
        }
        p:last-child {
            margin: 0;
        }
        .page {
            &-about {
                max-width: 1000px;
                margin: 0 auto;
            }
        }
    }
    .left-area {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vw;
        cursor: url(/public/img/arrow-left.png), auto;
        cursor: -webkit-image-set(url(/public/img/arrow-left.png) 2x), auto;
    }
    .right-area {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 50%;
        width: 50vw;
        height: 100vw;
        cursor: url(/public/img/arrow-right.png), auto;
        cursor: -webkit-image-set(url(/public/img/arrow-right.png) 2x), auto;
    }
    .slider-container {
        overflow: hidden;
        width: calc(300% - 600px);
        height: 100%;
        white-space: nowrap;
        .item {
            position: relative;
            display: inline-block;
            overflow: hidden;
            height: 100vh;
        }
        .item:nth-child(1) {
            width: 100vw;
            background-color: #222222;
        }
        .item:nth-child(2),
        .item:nth-child(3) {
            width: calc(100vw + 300px);
            margin: 0 0 0 -300px;
            background-color: #111111;

            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 300px 100%);
        }
        .item:nth-child(2) {
            width: 100vw;
        }
        .item video,
        .item img {
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;

            object-fit: cover;
            &.videoLazyLoad {
                display: none;
            }
        }
        .item .overlay {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            white-space: normal;
            background: -webkit-linear-gradient(left, rgba(53, 40, 66,.9) 0%,rgba(53, 40, 66,.7) 40%,rgba(53, 40, 66,.1) 100%);

            -webkit-clip-path: polygon(0 0, calc(100% - 300px) 0, 100% 100%, 0 100%);
        }
        .caption {
            position: absolute;
            top: 50px;
            left: 320px;
            width: 500px;
            color: #FFFFFF;
        }
        .item:nth-child(1) .caption {
            left: 50px;
        }
        .caption h2 {
            font-size: 30px;
            font-weight: 300;
            margin: 0 0 20px 0;
            letter-spacing: .03em;
        }
        .caption p {
            font-size: 16px;
            font-weight: 100;
            line-height: 1.5em;
            letter-spacing: .03em;
        }
    }
}

/* Phones and smartphones in portrait */
@media all and (min-width: 0) and (max-width: 480px) {
    /* Smallest */

    header .logo {
        top: 70px;
        width: 60%;
        margin: 0 0 0 -27%;
    }

    .content {
        .inner {
            .brand-logos {
                svg {
                    height: 30px;
                    margin: 0 30px 30px 0;
                    text-align: left;
                }
            }
            .block-text {
                padding: 0 20px;
            }
            .block-background-image {
                min-height: 300px;
            }
            .page {
                &-about {
                    max-width: 1000px;
                    margin: 0 auto;
                    .display-picture {
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* Small smartphones in landscape (iPhone in landscape) */
@media all and (min-width: 481px) and (max-width: 600px) {
    /* Smaller */

    header .logo {
        top: 70px;
        width: 60%;
        margin: 0 0 0 -27%;
    }

    .content {
        .inner {
            .brand-logos {
                svg {
                    height: 30px;
                    margin: 0 30px 30px 0;
                    text-align: left;
                }
            }
            .block-text {
                padding: 0 20px;
            }
            .block-background-image {
                min-height: 300px;
            }
            .page {
                &-about {
                    max-width: 1000px;
                    margin: 0 auto;
                    .display-picture {
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* Small tablets and large phones in landscape (Nexus 7) */
@media all and (min-width: 601px) and (max-width: 767px) {
    /* Small */

    header .logo {
        top: 70px;
        width: 40%;
        margin: 0 0 0 -17%;
    }

    .content {
        .inner {
            .brand-logos {
                svg {
                    height: 30px;
                    margin: 0 30px 30px 0;
                    text-align: left;
                }
            }
            .block-text {
                padding: 0 20px;
            }
            .block-background-image {
                min-height: 300px;
            }
            .page {
                &-about {
                    max-width: 1000px;
                    margin: 0 auto;
                    .display-picture {
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* Large tablets and Facebook iframe (iPad in portrait, Facebook on desktop) */
@media all and (min-width: 768px) and (max-width: 1023px) {
    /* Medium */

    header .logo {
        width: 40%;
        margin: 0 0 0 -17%;
    }
}

/* Large tablets (iPad in landscape) */
@media all and (min-width: 1024px) and (max-width: 1199px) {
    /* Large */

    header .logo {
        width: 40%;
        margin: 0 0 0 -17%;
    }
}

/* Laptops and desktops */
@media all and (min-width: 1200px) {
    /* Larger */
}

/* Phones, tablets and small screens */
@media all and (min-width: 0) and (max-width: 1023px) {
    /**
     * Stack Slider
     */

    .content {
        .inner {
            .left-area,
            .right-area {
                display: none;
            }
            .slider-container {
                overflow: auto;
                width: auto;
                height: auto;
                white-space: normal;
                .item {
                    position: static;
                    display: block;
                    overflow: auto;
                    height: auto;
                }
                .item:nth-child(1) {
                    width: auto;
                    background-color: transparent;
                }
                .item:nth-child(2),
                .item:nth-child(3) {
                    width: auto;
                    margin: 0;
                    background-color: transparent;

                    -webkit-clip-path: none;
                }
                .item:nth-child(2) {
                    width: auto;
                }
                .item video,
                .item img {
                    position: static;
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .item .overlay {
                    position: static;
                    width: auto;
                    height: auto;
                    background: transparent;

                    -webkit-clip-path: none;
                }
                .caption {
                    position: static;
                    top: 0;
                    left: 0;
                    width: auto;
                    padding: 20px;
                }
                .item:nth-child(1) .caption {
                    left: 0;
                }
                .caption p {
                    margin: 0 0 1em 0;
                }
            }
        }
    }
}
