nav {
    a {
        background-image: url('/public/img/palms.jpg');
        background-attachment: fixed;
        background-position: -136px 0;
        -webkit-background-clip: text;
        background-size: 20%;
        -webkit-text-fill-color: transparent;
    }
}

header {
    filter: hue-rotate(180deg);
    .inner {
        filter: hue-rotate(180deg);
        clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
    }
}

.content {
    clip-path: polygon(0 0, 0 0, 100% -70px, 100% 0);
    .inner {
        .video-wrapper,
        .block-text,
        .block-image,
        .block-background-image {
            transition: transform 1s, opacity 1s;
            transform-origin: 50% 0;
            opacity: 1;
            &.pre-lay {
                transform: perspective(1000) rotateX(20deg) translate(0, 100px);
                opacity: 0;
            }
        }
    }
    .slider-container {
        width: calc(300% - 600px);
        .item { 
            video,
            img {
                position: fixed;
                top: 0;
                left: 0;
            }
            .caption {
                left: 320px;
            }
        }
        .item:nth-child(2),
        .item:nth-child(3) {
            width: calc(100vw + 300px);
            margin: 0 0 0 -300px;
        }
    }
}

html.firefox,
html.internet-explorer {
    .content {
        display: none;
    }
    nav {
        a {
            background-image: none;
        }
    }
}

@import 'base';